schema/dhcp_leases.ovsschema
schema/vswitch.ovsschema
/build
.*.swp
*~
/Makefile
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/install_manifest.txt
/schema/CMakeFiles/
/schema/Makefile
/schema/cmake_install.cmake
